<ion-view view-title="Chaudière">
    <ion-content>
        <div class="card">
            <div class="item item-divider text-center">
                Température
            </div>
            <div class="item item-text-wrap text-center">
                <h1 style="font-size: 50pt;">30°C</h1>
            </div>
        </div>
        <div class="card">
            <div class="button-bar">
                <a class="button">Jour</a>
                <a class="button">Nuit</a>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider text-center">
                Consignes
            </div>
            <div class="item item-text-wrap text-center">
                <div class="item range">
                    <i class="icon ion-thermometer"></i>
                    <input type="range" name="volume">
                    <i class="icon ion-ios-snowy"></i>
                </div>
                <div class="item range">
                    <i class="icon ion-thermometer"></i>
                    <input type="range" name="volume">
                    <i class="icon ion-ios-sunny-outline"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
