<ion-view view-title="Chaudière">
    <ion-content>
        <div class="card">
            <div class="item item-divider text-center">
                Température
            </div>
            <div class="item item-text-wrap text-center">
                <h1 style="font-size: 50pt;">{{boiler.temp}}°C</h1>
            </div>
        </div>
        <div class="card card-toggle">
            <div class="button-bar">
                <span class="button button-toggle-jour" data-ng-click="toggleJour('jour')" data-ng-class="{'selected': toggleJourVal === 'jour'}">Jour</span>
                <span class="button button-toggle-jour" data-ng-click="toggleJour('nuit')" data-ng-class="{'selected': toggleJourVal === 'nuit'}">Nuit</span>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider text-center">
                Consignes
            </div>
            <div class="item item-text-wrap text-center">
                <div class="item range">
                    <i class="icon ion-thermometer"></i>
                    MIN
                    <input type="range" name="volume" data-ng-model="config[toggleJourVal].temp.min" ng-change="setConfigBoiler()">
                    {{config[toggleJourVal].temp.min}}
                </div>
                <div class="item range">
                    <i class="icon ion-thermometer"></i>
                    MAX
                    <input type="range" name="volume" data-ng-model="config[toggleJourVal].temp.max" ng-change="setConfigBoiler()">
                    {{config[toggleJourVal].temp.max}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
