<ion-view view-title="Tableau de bord">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="card text-center button-dashboard" data-ui-sref="app.boiler">
                    <span class="temp">43°C</span>
                    <br>
                    <i class="icon ion-soup-can"></i>
                    <br>
                    <span class="type-sensor">Chaudière</span>
                </div>
            </div>
            <div class="col">
                <div class="card text-center button-dashboard" data-ui-sref="app.alarm">
                    <span class="temp">Porte 1</span>
                    <br>
                    <i class="icon ion-radio-waves"></i>
                    <br>
                    <span class="type-sensor">Alarme</span>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <div class="item item-divider text-center">
                Alertes
            </div>
            <div class="item item-text-wrap text-center">
                <div class="list" data-ng-if="alertes.length > 0">
                    <div class="item text-left" data-ng-repeat="alerte in alertes">
                        <p class="alert-date">{{alerte.date}}</p>
                        <h2>{{alerte.type}}</h2>
                        <p>{{alerte.cause}}</p>
                    </div>
                </div>
                <h6 data-ng-if="alertes.length === 0">
                    Il n'y a pas d'alerte
                </h6>
            </div>
        </div>
    </ion-content>
</ion-view>
